/*
  * Josh's Custom CSS Reset
  * https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* || Reset CSS */
* {
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* || Variables */
:root {
  /* ? Thinking what to put */
}


/* || Sitewide */
.page {
  width: min(31.25rem, 100%);
  margin-inline: auto;
}

.page * {
  font-family: 'Nunito', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #011936;
  /* *bg-primary */
}

.logo-container {
  width: 9.375rem;
}

.logo--width {
  max-width: 100%;
}

.menu-open,
.menu-close {
  width: 2rem;
  background-color: rgb(245, 255, 253);
  padding: .3rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  /* ? color: hsl(169, 100%, 98%); *color-primary */
}

.menu-open--width,
.menu-close--width {
  width: 100%;
}

.menu-container,
.menu-close {
  position: fixed;
}

/* || Menu Expanded */
body.menu-expanded {
  position: relative;
}

body.menu-expanded .menu-close {
  background-color: #011936;
}

.menu-container,
.menu-close,
body.menu-expanded .menu-open {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu-container,
body.menu-expanded .menu-close {
  opacity: 1;
  visibility: visible;
}


body.menu-expanded .menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #E7EBEE;
  border-radius: 3px;
  min-height: 300px;
  max-width: 280px;
  overflow: auto;
  box-shadow: 0px 0px 6px #00000059;
  margin: .6rem 0 0 11.2rem;
}

@media screen and (max-width: 425px) {
  body.menu-expanded .menu-container {
    margin-left: 6.5rem;
  }
}

@media screen and (max-width: 375px) {
  body.menu-expanded .menu-container {
    max-width: 230px;
    margin-left: 6.5rem;
  }
}

@media screen and (max-width: 325px) {
  body.menu-expanded .menu-container {
    max-width: 220px;
    margin-left: 3.7rem;
  }
}

body.menu-expanded .menu-close {
  position: relative;
}

.menu-container__content {}

.menu-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-login__btn {
  display: block;
  padding: .6rem 1rem;
  border: 1px solid hsl(212, 43%, 48%);
  background: linear-gradient(180deg, rgb(149, 196, 253) 0%, rgb(149, 196, 253) 40%, hsl(212, 54%, 59%) 100%);
  border-radius: 2px;
  color: #011936;
  font-size: .875rem;
  text-decoration: none;
  margin-bottom: .2rem;
}

.menu-login__btn:hover {
  background: linear-gradient(180deg, rgb(132, 180, 240) 0%, rgb(132, 180, 240) 40%, hsl(212, 41%, 51%) 100%);
}

.menu-login__info {
  color: rgb(117, 117, 117);
  font-weight: 400;
  font-size: .8125rem;
  padding: 0 8px;
}

.info-link {
  color: rgb(0, 47, 255);
  text-decoration: none;
}

.info-link:hover,
.info-link:active {
  text-decoration: underline;
  color: #F04265;
}

.main {
  background-color: hsla(206, 17%, 92%, 0.219);
}

.footer {
  background-color: hsla(213, 96%, 10%, 0.397);
}

.footer-container {
  padding: 1rem;
}

.footer-info {
  width: 50%;
  margin: 0 auto;
}

.footer-info__logo {
  margin: 0 auto;
}

.footer-info__nav {
  text-align: center;
}

.footer-info__list {
  list-style: none;
}

.footer-info__item {
  margin-bottom: .5em;
}

.footer-info__link {
  color: #011936;
  text-decoration: none;
  font-weight: 500;
}

.message-form {}

.message-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.message-form__legend {
  color: #2E3946;
  font-weight: 700;
}

.message-form__label {
  height: 0.375rem;
}

.message-form__label i {
  color: rgba(0, 0, 0, 0.432);
  position: relative;
}

.message-form__label i::before {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 11px;
  bottom: 0;
}

.message-form__input {
  color: #465362;
  outline: none;
  padding: .375rem 2.5rem;
  border: none;
  border-bottom: 2px solid #F04265;
  margin-bottom: .5em;
}

.message-form__textarea {
  color: #465362;
  resize: none;
  outline: none;
  padding: .375rem 2.5rem;
  padding-bottom: 2rem;
  border: none;
  border-bottom: 2px solid #F04265;
  margin-bottom: 1rem;
}

.message-form__input#user-name {
  background-image: url('./assets/svgs/user-solid.svg');
  background-position: 12px 8px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.message-form__input#user-email {
  background-image: url('./assets/svgs/envelope-solid.svg');
  background-position: 12px 8px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.message-form__textarea#user-msg {
  background-image: url('./assets/svgs/message-solid.svg');
  background-position: 12px 8px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.message-form__input:focus,
.message-form__textarea:focus {
  background-color: #E7EBEE;
  border-color: #F36884;
}

.message-form__input::placeholder,
.message-form__textarea::placeholder {
  color: #465362;
}

.message-form__button {
  cursor: pointer;
  background-color: #F04265;
  color: white;
  border: none;
  padding: 0.625rem 0.75rem;
  border-radius: 3px;
  width: 50%;
  transition: background .3s;
}

.message-form__button:hover {
  background-color: #F36884;
  font-weight: 500;
}

/* || Main Page */
.section-featured {
  margin-bottom: 2rem;
  height: 13.75rem;
}

.section-featured__container {
  background-color: hsla(213, 96%, 10%, 0.397);
  background-image: url(./assets/imgs/example-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  padding: 16px 0;
}

.section-featured__content {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-featured__title {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .25rem;
  font-size: 2rem;
  color: #F4FFFD;
}

.section-featured__text {
  font-size: 1rem;
  font-weight: 500;
  color: #F4FFFD;
  margin-bottom: .5rem;
}

.section-featured__link {
  display: block;
  width: 6.25rem;
  padding: .625rem .75rem;
  background-color: #465362;
  border-radius: 3px;
  color: #F4FFFD;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  transition: background .3s;
}

.section-featured__link:hover {
  background-color: hsl(212, 17%, 27%);
  font-weight: 400;
}

.section-products__container {
  background-color: #f042652f;
}

.section-products__content {
  padding: 1rem;
}

.section-products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section-products__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.375rem;
  letter-spacing: .125rem;
  color: #F04265;
}

.section-products__link {
  color: #465362;
  text-decoration: none;
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 4px;
}

.icon--width {
  /** Css modify default*/
  width: 0.75rem;
}

.section-products__featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  width: 9.75rem;
}

.product__image {
  transition: transform .3s;
  border-radius: 3px;
  margin-bottom: .5rem;
}

.product__image:hover {
  transform: translateY(-.5rem);
}

.product__name {
  color: #465362;
  font-weight: 500;
}

.product__value {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  display: flex;
  gap: .0625rem;
  color: #000000d8;
  font-weight: 700;
}

.product__value--size {
  font-size: .8rem;
  font-weight: 500;
}

.product__link {
  font-size: .875rem;
  text-decoration: none;
  color: #000000d8;
  background-color: #c2f95c;
  width: 6.25rem;
  text-align: center;
  padding: .125rem .4rem;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  margin-top: .625rem;
}