@import url(./main.css);

body {
  background-color: #CCB9C7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body * {
  background-color: #CCB9C7;
}

header .wrapper {
  display: flex;
  justify-content: center;
}

main .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* || Edit Form */

.form__label {
  height: auto;
  margin-top: .5rem;
  font-weight: 600;
  color: #292643;
}

.form__input {
  color: #292643;
  background-color: #F4FFFD;
  outline: none;
  padding: .375rem .6rem;
  border: none;
  margin-top: .2rem;
}

.form__input::placeholder {
  color: #292643C5;
}

.form__alert {
  color: #292643;
  font-weight: 500;
  font-size: .875rem;
  display: flex;
  gap: 6px;
  align-items: center;
  text-align: center;
  margin-top: .4rem;
}

.container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-content {
  margin-bottom: 2rem;
  color: #292643;
}

.login-content a {
  color: #292643;
  text-decoration: none;
}

.login-content a:hover,
.login-content a:active {
  color: #44426E;
  text-decoration: underline;
}

/* || Edit About Footer */
.about-info__link {
  color: #292643;
}

.about-info__link:hover,
.about-info__link:active {
  color: #44426E;
}

.copyright {
  color: #44426E;
}

.copyright__link {
  color: #44426E;
}

.copyright__link:hover,
.copyright__link:active {
  color: #292643;
}