.footer {
  background-color: hsla(22, 100%, 70%, 0.329);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo {
  width: 8.5rem;
  margin-bottom: 1rem;
}

.footer-nav-info ul li {
  margin-bottom: 1rem;
}

.footer-nav-info li a {
  font-size: 0.875rem;
  color: #464646;
  font-weight: 500;
}