* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 32px;
}

header>div {
  display: flex;
  align-items: center;
  gap: 32px;
}

header div>div {
  display: flex;
  align-items: center;
}

header div>div input[type="search"] {
  border: none;
  background-color: hsl(0, 0%, 96%);
  padding: 8px 16px;
  width: 363px;
  border-radius: 20px;
}

header div>div input[type="search"]+span {
  position: relative;
  cursor: pointer;
}

header div>div input[type="search"]+span::before {
  content: url(../assets/svgs/icon-search.svg);
  position: absolute;
  right: 0.7rem;
  top: -.7rem;
}

header a {
  border: 1px solid hsl(22, 90%, 51%);
  padding: 12px 70px;
  display: inline-block;
  color: hsl(22, 90%, 51%);
  transition: background .3s;
}

header a:hover {
  background-color: hsla(22, 90%, 51%, 0.11);
}