.highlight {
  height: 40vh;
  background-color: hsl(22, 100%, 70%);
}

.highlight-bg {
  background-image: url(../assets/imgs/highlight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.highlight-wrapper {
  padding: 1rem;
}

.highlight-title {
  font-size: 1.375rem;
  color: white;
  margin-bottom: .5rem;
}

.highlight-text {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  margin-bottom: .5rem;
}

.highlight-btn {
  display: inline-block;
  font-size: 0.875rem;
  width: 7.4375rem;
  padding: .75rem;
  text-align: center;
  background-color: hsl(22, 90%, 51%);
  color: white;
  transition: background .3s;
}

.highlight-btn:hover {
  background-color: hsl(22, 100%, 60%);
}