@import url(./main.css);

body {
  background-color: #CCB9C7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body * {
  background-color: #CCB9C7;
}

header .wrapper {
  display: flex;
  justify-content: center;
}

main .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* || Edit Form */
.form__input#user-email-login {
  background-image: url('../assets/svgs/user-solid.svg');
  background-position: 13px 9px;
  background-repeat: no-repeat;
  background-size: 14px;
}

.form__input#user-password-login {
  background-image: url('../assets/svgs/lock-solid.svg');
  background-position: 13px 9px;
  background-repeat: no-repeat;
  background-size: 14px;
}

.container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.separator {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: .7rem;
  display: flex;
  justify-content: center;
}

.separator::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid #AC99A8;
  top: 9px;
  z-index: 1;
}

.separator__info {
  position: relative;
  display: inline-block;
  color: #453C4B;
  font-weight: 400;
  font-size: .8125rem;
  background-color: #CCB9C7;
  padding: 0 .8rem;
  z-index: 2;
}

.create-account-container {
  width: 80%;
  margin-bottom: 4rem;
}

.create-account-container__btn {
  text-decoration: none;
  background-color: #D8D8D8;
  color: #292643;
  border: none;
  padding: .42rem 4rem;
  border-radius: 3px;
  width: 100%;
  display: block;
  text-align: center;
  transition: background .4s;
}

.create-account-container__btn:hover {
  background: #E4E4E4;
}

/* || Edit About Footer */
.about-info__link {
  color: #292643;
}

.about-info__link:hover,
.about-info__link:active {
  color: #44426E;
}

.copyright {
  color: #44426E;
}

.copyright__link {
  color: #44426E;
}

.copyright__link:hover,
.copyright__link:active {
  color: #292643;
}