/* || Login Page */
body {
  background-color: #D6C7D2;
}

body * {
  background-color: #D6C7D2;
}

main .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-open,
.menu-close {
  background-color: #292643;
}

.menu-open i,
.menu-close i {
  color: #776483;
  background-color: #292643;
}

/* || Form Login */
.login-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form {
  border: 1px solid #776483;
  border-radius: 4px;
  padding: 1.5rem;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-size: 1.5rem;
  font-weight: 500;
  color: #292643;
  margin-bottom: 1rem;
}

.form__label {
  font-size: .875rem;
  font-weight: 700;
  color: #44426E;
  margin-bottom: 2px;
}

.form__input {
  margin-bottom: .75rem;
  padding: 4px 7px;
  height: 20px;
  font-size: .875rem;
  border-radius: 2px;
  border: 1px solid #776483;
  background-color: #D6C7D2;
  color: #292643;
}

.form__input--submit {
  color: #292643;
  border-radius: 2px;
  border: 1px solid #44426E;
  margin-top: .2rem;
  padding: .3rem .3rem;
  font-size: .875rem;
  background: linear-gradient(180deg, #BBAAB8 0%, #BBAAB8 40%, #776483 100%);
}

.form__input--submit:hover {
  background: linear-gradient(180deg, #AD9EAB 0%, #AD9EAB 40%, #6B5A75 100%);
}

.divider-line {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: .3rem;
  display: flex;
  justify-content: center;
}

.divider-line::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid #BBAAB8;
  top: 9px;
  z-index: 1;
}

.divider-line__title {
  position: relative;
  display: inline-block;
  color: #6B5A75;
  font-weight: 400;
  font-size: .8125rem;
  background-color: #D6C7D2;
  padding: 0 8px;
  z-index: 2;
}

.create-account-container {
  width: 80%;
  margin-bottom: 2rem;
}

.create-account-container__btn {
  display: block;
  border: 1px solid #A1A1A1;
  border-radius: 2px;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #292643;
  font-size: .875rem;
  background: linear-gradient(180deg, #F0F0F0 0%, #F0F0F0 40%, #DEDEDE 100%);
}

.create-account-container__btn:hover {
  background: #E4E4E4;
}

.divider-line-final {
  width: 100%;
  height: 3px;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #FFFFFF00 0%, #77648375 50%, #77648375 50%, #FFFFFF00 100%);
}

/* || Focus elements Login Page */
.form__input:focus,
.form__input--submit:focus,
.create-account-container__btn:focus {
  outline: none;
  border-color: #292643;
  box-shadow: 0px 0px 5px #292643;
}

/* || Edit Footer */
.about-info__link {
  display: block;
  text-align: center;
  color: #292643;
}

.about-info__link:hover,
.about-info__link:active {
  text-decoration: underline;
  color: #44426E;
}

.copyright {
  text-align: center;
  font-size: .8rem;
  margin-top: 1rem;
  color: #44426E;
}

.copyright__link {
  color: #44426E;
  text-decoration: none;
}

.copyright__link:hover,
.copyright__link:active {
  color: #292643;
  text-decoration: underline;
}