.menu {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  width: 8.5rem;
}

.menu-btn-login {
  font-size: 0.875rem;
  border: 1px solid hsl(22, 90%, 51%);
  color: hsl(22, 90%, 51%);
  width: 8.3125rem;
  text-align: center;
  padding: 0.75rem;
  transition: background .3s;
}

.menu-btn-login:hover {
  background-color: hsla(22, 90%, 51%, 0.096);
}

.menu-search i {
  color: #464646;
}