.products {
  background-color: #F5F5F5;
  padding: 1rem;
}

.products-list {
  margin-bottom: 2rem;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.products-title {
  color: #464646;
}

.products-more {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 700;
  color: hsl(22, 90%, 51%);
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: 9.75rem;
  gap: .5rem;
}

.product-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.product-value {
  font-weight: 700;
}

.product-link {
  color: hsl(22, 90%, 51%);
  font-size: 0.875rem;
  font-weight: 700;
}